/* Custom variables */
:root {
    --logo: hsl(243, 100%, 68%);


    --surface1: hsl(210 15% 5%);

    --text1: hsl(210 5% 98%);

    --max-width: 1200px;
}
/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
img {
    display: inline-block;
    width: 100%;
}
body {
    background: var(--surface1);
    color: var(--text1);
    min-block-size: 100vh;
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
}
/* Site logo image */
.logo__img {
    inline-size: 200px;
}
/* Buttons */
.burger-btn {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    border: none;
    cursor: pointer;
}
.burger-btn .bar {
    background: var(--text1);
    inline-size: 25px;
    block-size: 5px;
    border-radius: 8px;
}
.contact-btn-container {
    padding: 2rem !important;
}
.contact-btn {
    background: hsla(243, 100%, 68%, .2);
    color: var(--text1);
    display: inline-block;
    padding: .8rem .6rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(169, 169, 169, 0.133);
    transition: transform 250ms ease;
}
.contact-btn:hover {
    transform: translateY(2px);
    box-shadow: none;
}
.contact-btn:active {
    transform: scale(1.2);
}
/* Hide and display links on mobile */
.nav-links {
    display: none;
}
.show-links {
    display: block;
}


/* Start of site nav styles */
.site-nav {
    padding-block-start: .8rem;
    padding-inline: .4rem;
}
@media screen and (min-width: 1200px) {
    .site-nav {
        padding-inline: 0;
    }
}
.nav-center {
    inline-size: 100%;
    max-inline-size: var(--max-width);
    margin-inline: auto;
}
.nav-header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links .nav-link {
    display: block;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    border-block-start: 1px solid black;
    transition: color 250ms ease;
}
.nav-links .nav-link:hover {
    color: var(--logo);
}
@media screen and (min-width: 992px) {
    .site-nav {
        padding: 0;
    }
    .burger-btn {
        display: none;
    }
    .nav-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        margin-inline-end: 2rem;
    }
    .nav-links {
        inline-size: 100%;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .nav-links .nav-link {
        padding: 0;
        border: none;
        margin-inline-end: 1rem;
    }
    .contact-btn-container {
        margin-inline-start: auto;
        padding: 0 !important;
    }
    .contact-btn {
        box-shadow: none;
        padding: .6rem;
    }
}
/* End of site nav styles */
/* Start of main content styles */
.page {
    min-block-size: calc(100vh - (4rem + 76.8px));
    inline-size: 100%;
    max-inline-size: var(--max-width);
    margin-inline: auto;
}
/* End of main content styles */
/* Start of footer styles */
footer {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Start of footer styles */