/* Custom variables */
:root {
    --logo: hsl(243, 100%, 68%);


    --surface1: hsl(210 15% 5%);
    --surface2: hsl(210 15% 15%);

    --text1: hsl(210 5% 98%);

    --max-width: 1200px;
}
/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
img {
    display: inline-block;
    inline-size: 100%;
    block-size: 100%;
}
body {
    background: var(--surface1);
    color: var(--text1);
    min-block-size: 100vh;
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
}
input, textarea {
    outline: none;
    border: 2px solid hsla(243, 100%, 68%, 0.388);
    border-radius: 8px;
    padding: .4rem .8rem;
}
input:focus, textarea:focus {
    border: 2px solid hsl(243, 100%, 68%);
}
/* Site logo image */
.logo__img {
    inline-size: 200px;
}
/* Hide and display links on mobile */
.nav-links {
    display: none;
}
.show-links {
    display: block;
}
/* Large padding */
.lg-pd {
    padding-block: 5rem;
}
/* Burger button */
.burger-btn {
    background: transparent;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    border: none;
    cursor: pointer;
}
.burger-btn .bar {
    background: var(--text1);
    inline-size: 25px;
    block-size: 5px;
    border-radius: 8px;
    transition: background 250ms ease;
}
.burger-btn:hover .bar {
    background: var(--logo);
}
.burger-btn:active .bar {
    transform: scale(.925);
}
/* Contact button */
.contact-btn {
    background: var(--logo);
    color: var(--text1);
    max-inline-size: max-content;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 8px;
    padding: .8rem .6rem;
    box-shadow: 2px 2px 2px rgba(169, 169, 169, 0.133);
    transition: background 250ms ease;
}
.contact-btn:hover {
    background: hsla(243, 100%, 68%, .4);
}
.contact-btn:active {
    transform: scale(.975);
}
/* site nav */
.site-nav {
    padding-inline: .4rem;
}
.page-content {
    padding: 5rem .8rem;
}
@media screen and (min-width: 1200px) {
    .site-nav {
        padding-inline: 0;
    }
    .page-content {
        padding-inline: 0;
    }
}
.nav-center {
    inline-size: 100%;
    max-inline-size: var(--max-width);
    margin-inline: auto;
}
.nav-header {
    block-size: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links .nav-link {
    display: block;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
    border-block-start: 1px solid black;
    transition: color 250ms ease;
}
.nav-links .nav-link:hover {
    color: var(--logo);
}
.page {
    min-block-size: calc(100vh - (4rem + 76.8px));
    inline-size: 100%;
    max-inline-size: var(--max-width);
    margin-inline: auto;
}
@media screen and (min-width: 992px) {
    /* Hide menu button on larger display */
    .burger-btn {
        display: none;
    }
    /* Display menu on larger display */
    .nav-center {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo {
        margin-inline-end: 2rem;
    }
    .nav-links {
        inline-size: 100%;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .nav-links .nav-link {
        padding: 0;
        border: none;
        margin-inline-end: 1rem;
    }
    .contact-btn-container {
        margin-inline-start: auto;
        padding: 0 !important;
    }
    .page {
        min-block-size: calc(100vh - (4rem + 64px));
    }
}
/* Home page */
.banner {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) ,url(./../assets/img/main.jpeg) center/cover no-repeat;
    min-block-size: 18rem;
    display: grid;
    place-content: center;
    text-align: center;
    border-radius: 8px;
}
.banner__title {
    font-weight: lighter;
    font-size: 3.7rem;
    margin-bottom: 1rem;
}
.banner__subtitle {
    font-weight: 500;
    letter-spacing: 1px;
}
/* Recipes styles */
.recipes-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
/* Recipe tags */
.tags-container {
    grid-row-start: 3;
    text-align: center;
}
.tags-container h4 {
    font-size: 1.4rem;
    text-transform: capitalize;

}
.tags-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}
.tags-list a:hover {
    color: var(--logo);
}
.recipes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}
.recipe-list__recipe {
    transition: all 250ms ease;
}
.recipe-list__recipe img{
    block-size: 16rem;
    object-fit: cover;
    margin-block-end: .8rem;
    border-radius: 8px;
}
.recipe-list__recipe h5{
    font-size: 1.7rem;
    margin-block-end: .2rem ;
}
.recipe-list__recipe:hover {
    color: var(--logo);
}
.recipe-list__recipe:hover img {
    transform: scale(.975);
}
.recipe-list__recipe:active img {
    transform: scale(1);
}
.tags-page-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.tags-container__tag {
    background: var(--surface2);
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    padding: .8rem 1.4rem;
    transition: background 250ms ease;
}
.tags-container__tag:hover {
    background: var(--logo);
}
.tags-container__tag h1{
    font-size: 1.4rem;
}
.tag-template-title {
    margin-block-end: 1rem;
    font-size: 2.3rem;
    font-weight: 400;
}
.about-page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}
.about-hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.about-hero__meta {
    display: grid;
    gap: 1rem;
    line-height: 1.7;
}
.hero-meta__title {
    font-size: 2.3rem;
    font-weight: 400;
}

.about-hero__meta a {
    padding: .4rem;
}
.about-hero__img {
    block-size: 20rem;
    overflow: hidden;
    border-radius: 8px;
}
.about-recipes h1 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: 1px;
    margin-block-end: 2rem;
}
.divider-bar {
    background: var(--logo);
    inline-size: 45%;
    max-inline-size: 250px;
    block-size: 2px;
    margin-inline: auto;
    margin-block-end: 2rem;
}

/* CONTACT PAGE */
.contact-page {
    display: grid;
    gap: 2rem 4rem;
}
.contact-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    padding-inline: .9rem;
    align-items: center;
}
.contact-meta {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact-meta__title {
    font-size: 2.3rem;
    font-weight: 400;
}
.contact-meta__subtitle {
    line-height: 1.4;
}
.contact-form {
    background: var(--surface2);
    inline-size: 100%;
    max-inline-size: 575px;
    padding: 2rem;
    border-radius: 8px;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.form-group input {
}
.form-group label {
    margin-block-end: .6rem;
    font-size: .825rem;
    letter-spacing: 1px;
}
.contact-form form textarea {
    resize: none;
    block-size: 100px;
}
.contact-recipe {
    padding-block: 4rem
}
.contact-recipe h1 {
    text-align: center;
    font-weight: lighter;
    margin-block-end: 2rem;
}
.form-button-container button {
    background: var(--surface1);
    color: var(--text1);
    inline-size: 70px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: .4rem 0;
    cursor: pointer;
    transition: background 250ms ease;
}
.form-button-container button:hover {
    background: var(--logo);
}
.form-button-container button:active {
    transform: scale(.975);
}
@media screen and (min-width: 992px) {
    .recipes-container {
        grid-template-columns: 200px 1fr;
        gap: 1rem;
    }
    .tags-container {
        grid-row-start: 1;
        display: flex;
        flex-direction: column;
        padding-block: 0rem;
    }
    .tags-list {
        grid-template-columns: 1fr;
    }
    .tags-list a {
        padding-block: 1rem;
    }
    .tag-page-container {
        padding-inline: 0;
    }
    .about-hero {
        grid-template-columns: 1fr 500px;
        align-items: center;
    }
}
/* Single recipe */
.recipe-page-hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.recipe-page-hero__img {
    background: red;
    height: 17rem;
/*    overflow: hidden;*/
}
.recipe-page-hero__img img {
    display: inline-block;
    object-fit: cover;
}
/* End of main content styles */
/* Start of footer styles */
footer {
    background: black;
    block-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo {
    color: var(--logo);
}
/* Start of footer styles */